/*========================================
  Contact Form Styles
========================================*/
.contact-form {
  max-width: 60%;
  margin: 5rem auto;
  padding: 4rem 3rem 2rem 3rem;
  background-color: rgba(41, 41, 41, 0.12);
  border: 1px solid rgba(177, 177, 177, 0.721);
  border-radius: var(--br-element);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);
}

.form-label {
  display: block;
  margin-bottom: var(--spacing-sm);
  font-weight: bold;
  color: var(--text-color);
}

/*----------------------------------------
  Form Controls
----------------------------------------*/
.form-input,
.form-select,
.form-textarea {
  width: calc(100% - 12px);
  padding: 0.6rem;
  margin-bottom: 1.4rem;
  border: 1px solid #e0e0e0;
  border-radius: var(--br-small);
  font-size: var(--font-base);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.881);
  color: #000;
}
.form-input:focus,
.form-select:focus,
.form-textarea:focus {
  border-color: rgb(0, 187, 255);
  outline: none;
  box-shadow: 0 0 5px rgb(0, 187, 255);
}
.form-textarea {
  resize: vertical;
  height: 5rem;
}

/*----------------------------------------
  Buttons & Error Messages
----------------------------------------*/
.form-button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: var(--background-color);
  color: var(--box-text);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.6rem;
  transition: background var(--transition-fast);
}
.form-button:hover {
  background-color: var(--box-text);;
  color: white;
}
.form-error {
  margin-top: -0.9375rem;
  margin-bottom: 0.9375rem;
  color: #d9534f;
  font-size: 0.875rem;
}

/*----------------------------------------
  Select Element
----------------------------------------*/
select {
  color: var(--text-color);
  height: 2.5rem;
}

/*----------------------------------------
  Thank You Message
----------------------------------------*/
.form-thank-you {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(177, 177, 177, 0.721);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);
  border-radius: var(--br-element);
  width: max-content;
  text-align: center;
  font-size: 1.4rem;
  margin: 5rem auto;
}

/*----------------------------------------
  Responsive Adjustments
----------------------------------------*/
@media only screen and (max-width: 700px) {
  .contact-form {
    max-width: 100%;
  }
}
