.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: left;
  }
  
  .form-input, .form-select, .form-textarea {

    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc; /* Bottom border */
    font-size: 16px;
    transition: border-bottom-color 0.3s ease-in-out; /* Smooth transition for bottom border */
  }
  
  .form-input:focus, .form-select:focus, .form-textarea:focus {
    border-bottom-color: #007bff; /* Color when focused */
    outline: none;
  }
  
  .form-textarea {
    resize: vertical;
    height: 150px;
  }
  
  .form-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .form-error {
    margin-top: -15px;
    margin-bottom: 15px;
    color: #d9534f;
    font-size: 14px;
  }
  