:root {
  --background: #fff;
  --navigation: #fff;
  --container: #fff;
  --logoSlider: #fff;
  --footer: #fff;
}



html {
  background-image: url(/public/media/bg18.png);
 
  background-size: cover;
  background-position: center;
  /* background-color: #f7f9fb; */
  position: relative; 
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 7rem;
  height: auto;
margin-left: -6%;


}
.homepage {
  width: 100%;
}

.container {
  color: #e5e5e5;
  background: #00000021;
  padding: 7%;
  text-align: center;
  margin: 5rem;
  border-radius: 5px;

}
.container2 {
  color: #e5e5e5;
  background: #00000021;
  padding: 3%;
  text-align: left;
  margin: 5rem;
  border-radius: 5px;

}
.container-home {
  color: #e5e5e5;
  background: #00000021;
  padding: 7%;
  text-align: center;
}

.home {
  display: flex;
  z-index: 10;
  color: #f5f3f5;
  background: transparent;
  position: relative;
  justify-content: space-between;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.text-container {
  z-index: 11;
  width: 50%;
  text-align: left;
}

.image-container {
  z-index: 11;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 500px;
}

.image-container img {
  width: 100%;
  height: auto;
  aspect-ratio: initial;
}
/* NAVIGATION */

.nar-bar{
  backdrop-filter: blur(2px);
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 4rem;
}
.nav-phone-numbers {
  color: #f5f3f5;
  font-size: 0.9rem;
}
.nav-phone-numbers p {
  margin: 0;
  font-weight: 500;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  color: #f3f3f3ca;
}

h1 {
  font-size: 40px;
}

.language-switcher {
  display: flex;
  gap: 10px;
  align-items: center;
}

.language-icon {
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.language-icon.active,
.language-icon:hover {
  opacity: 1;
  transform: scale(1.05);
}
.home-buttons-container {
  width: 100%;
}

.welcome-button {
  background-color: #ffffff00;
  color: #fff;
  width: max-content;
  height: max-content;
  padding: 2% 3%;
  border: #ffffff7e 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  margin-top: 2rem;
}

.welcome-button:hover {
  background-color: #ffffff2d;
  cursor: pointer;
  transform: scale(1.05);
}



.text {
  margin: 0 1.5em
}

.phone-line {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.phone-line:first-of-type {
  margin-bottom: 0.4rem;
}

.people-container {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.ioannis-container img {
  width: 50%;
  border-radius: 5px;
}
.lukasz-container img {
  width: 50%;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: underline;
} 

.wrapper p {
  margin: 2rem 5rem;
}
.nav-center {
  position: absolute;
  left: 45%;
}

.smaller-p {
  font-size: 0.8rem;
}
.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-out;
}

@media only screen and (max-width: 980px) {
  .nav-left {
    width: 100%;
  }
  .nav-left ul {
    width: 100%;
    justify-content: space-around;
    padding: 0 5%;
  }
  .nav-right {
    display: none;
  }
  .container, .container2{
    margin: 10% 2%;
  }
  
  .icon {
    top: 0;
    left: 2%;
  }

  .links {
   margin-top: 0;
    margin-left: 0;
  }

  .contact-people {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-end;
  }
  .logo-image {
    width: 8%;
  }
  .button-box {
    min-width: auto;
    width: 30%;
    margin: 2%;
    gap: 0;
  }
  .button-box-container {
    margin: 5rem 0;
  }
  .contact {
    padding: 1rem;
  }
  .people-name {
    font-size: 1rem;
  }
  .welcome-button {
    padding: 1rem;
  }
  .text-container {
    width: 100%;
  }
  .home {
    flex-wrap: wrap;
    height: 70vh;
  }
  .image-container {
    position: absolute;
    width: 70%;
  top: 41%;
  right: 0;
  max-width: 400px;
  }
  .button-box-description {
    display: none;
  }
  .contact-text h2 {
   text-align: center;
  }
  .contact-text {
    display: block;
    width: 100%;
  }
  .contact-people {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
  }
  .contact-people div p {
    margin: 0.5rem 0;
  }
  .people-container {
    display: block;
  }
  .ioannis-container {
    margin-bottom: 5rem;
  }
  h1 {
    font-size: 2rem;
  }

}