:root {
  --background: #fff;
  --navigation: #fff;
  --container: #fff;
  --logoSlider: #fff;
  --footer: #fff;
}

html {
  background-image: url(/public/media/bg19.png);
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  /* background-color: #f7f9fb; */
  position: relative;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* font-family: "Mulish"; */
}

.icon {
  width: 7rem;
  height: auto;
  margin-left: -6%;
}
.homepage {
  width: 100%;
}

.container {
  color: #e5e5e5;
  background: #00000021;
  padding: 7%;
  text-align: center;
  margin: 5rem;
  border-radius: 5px;
}
.container2 {
  color: #e5e5e5;
  background: #00000021;
  padding: 3%;
  text-align: left;
  margin: 5rem;
  border-radius: 5px;
}
.container-home {
  color: #e5e5e5;
  background: #00000021;
  padding: 7%;
  text-align: center;
}

.home {
  display: flex;
  z-index: 10;
  color: #f5f3f5;
  background: transparent;
  position: relative;
  justify-content: space-between;
  height: 80vh;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.insurances-header {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
  color: #f5f3f5;
}

.text-container {
  z-index: 11;
  width: 50%;
  text-align: left;
}
.text-container h1 {
  font-family: "Oswald";
}

.image-container {
  z-index: 11;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 500px;
}

.image-container img {
  width: 100%;
  height: auto;
  aspect-ratio: initial;
}
/* NAVIGATION */

.nar-bar {
  backdrop-filter: blur(2px);
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 4rem;
}
.nav-phone-numbers {
  color: #f5f3f5;
  font-size: 0.9rem;
}
.nav-phone-numbers p {
  margin: 0;
  font-weight: 500;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  color: #f3f3f3ca;
}

h1 {
  font-size: 40px;
}

.language-switcher {
  display: flex;
  gap: 10px;
  align-items: center;
}

.language-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.language-icon.active,
.language-icon:hover {
  opacity: 1;
  transform: scale(1.05);
}
.home-buttons-container {
  width: 100%;
}
.button-link {
  text-decoration: none;
}
.welcome-button {
  margin-top: 2rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;
  gap: 0.6rem;
  height: auto;
  width: auto;
  border: none;
  background: #fff;

  border-radius: 10px;
  cursor: pointer;
  text-decoration: none !important;
}

.welcome-button:hover {
  background: #056bfae0;
}

.lable {
  color: #000;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.svg-icon {
  stroke: #056dfa;
  fill: transparent;
}

.welcome-button:hover .svg-icon {
  stroke: #fff;
  fill: transparent;
}
.welcome-button:hover .lable {
  color: #fff;
}

.welcome-button:hover .svg-icon {
  animation: msg 2s linear infinite;
}

@keyframes msg {
  0% {
    transform: translate(0, 0) scale(1);
  }

  15% {
    transform: translateX(1px);
  }

  30% {
    transform: scale(1.1);
  }

  45% {
    transform: translateY(1px);
  }

  60% {
    transform: translateY(0px);
  }

  75% {
    transform: scale(1);
  }

  90% {
    transform: translateX(-px);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}
.text {
  margin: 0 1.5em;
}

.phone-line {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.phone-line:first-of-type {
  margin-bottom: 0.4rem;
}

.people-container {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.ioannis-container img {
  width: 60%;
  border-radius: 5px;
}
.lukasz-container img {
  width: 60%;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.wrapper p {
  margin: 2rem 5rem;
  white-space: pre-wrap;
}
.nav-center {
  position: absolute;
  left: 45%;
}

.ioannis-container,
.lukasz-container {
  width: 50%;
}
.smaller-p {
  font-size: 0.8rem;
}
.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-out;
}
.contact-people {
  justify-content: end;
  width: 70%;
}
.contact-people-pl {
  justify-content: end;
}
.contact-people-en {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.contact-box-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.box {
  max-width: 300px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: rgba(1, 0, 0, 0.141);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: -moz-available;
}
.contact-page {
  padding: 2% !important;
}
@media only screen and (max-width: 980px) {
  .contact-box-container {
    display: block;
  }
  .box {
    max-width: unset;
    margin: 1rem;
  }
  .people-container h2 {
    width: 80%;
    margin: 1rem auto;
  }
  .ioannis-container img {
    width: 90%;
  }
  .lukasz-container img {
    width: 90%;
  }
  .nav-left {
    width: 90%;
  }
  .nav-left ul {
    width: 100%;
    justify-content: space-around;
    padding: 0 5%;
  }
  .nav-right {
    display: none;
  }
  .nav-center {
    left: unset;
    right: 5%;
  }
  .links {
    margin-top: 0;
    margin-left: 0;
  }

  .container,
  .container2 {
    margin: 10% 2%;
  }

  .wrapper p {
    margin: 0;
  }

  .icon {
    top: 0;
    left: 2%;
  }

  .contact-people {
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    margin: 1.5rem 0;
    display: flex;
  }

  .logo-image {
    width: 8%;
  }

  .button-box {
    min-width: auto;
    width: 30%;
    margin: 2%;
    gap: 0;
  }

  .button-box-container {
    margin: 5rem 0;
  }
  .contact {
    padding: 1rem;
  }
  .people-name {
    font-size: 1rem;
  }

  .text-container {
    width: 100%;
  }
  .home {
    flex-wrap: wrap;
    height: 70vh;
  }
  .image-container {
    position: absolute;
    width: 70%;
    top: 41%;
    right: 0;
    max-width: 400px;
  }
  .button-box-description {
    display: none;
  }
  .contact-text h2 {
    text-align: center;
  }
  .contact-text {
    width: 100%;
  }

  .contact-people div p {
    margin: 0.5rem 0;
  }
  .people-container {
    gap: 0;
  }
  .ioannis-container {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  .german-container {
    display: block;
  }
  .german-container .button-box {
    width: 60%;
    margin: 3% auto;
  }
}
